{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<h1>Menu</h1>
<a href="{% url 'menu-add' %}"><button>Add Menu Item</button></a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for menu_item in menu_items %}
        <tr>
            <td>{{ menu_item.title }}</td>
            <td>${{ menu_item.price }}</td>
            <td>
                <a href="{% url 'menu-edit' menu_item.pk %}"><button>Edit</button></a>
                <a href="{% url 'menu-delete' menu_item.pk %}"><button>Delete</button></a>
                <a href="{% url 'recipe-requirements' menu_item.pk %}"><button>View Recipe</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
