{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<h1>Menu</h1>
<a href="{% url 'menu-add' %}"><button>Add Menu Item</button></a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>${{ item.price }}</td>
            <td>
                <a href="{% url 'menu-edit' item.id %}">Edit</a>
                <a href="{% url 'menu-delete' item.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
